Magic 271485
Revision 1.0

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 32 21 1908 1145 148 134

; File list:
; openDirFile [-d delimiter] [-s time_offset] path_name file_name
openDirFile -d / "/emc/joshea/JOS/Verilog/Vit_e322/src" "verilog.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 2018.084394
cursor 1180.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name
; visible top row signal index
top 32
; marker line index
markerPos 47

; Run Time Signal and Member
; addRunTimeSig 

; analog to digital list
; allAtoD sig_name low_threshold high_threshold member_sig_name

; logical expression list
; addExprSig expr_name expression_string

; analog expression list
; addAnaExprSig expr_name expression_string

; event list
; addEvent event_name event_expression
; curEvent event_name



SEQUENCE_BEGIN


SEQUENCE_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
addGroup "BMU"
addSignal -h 15 /tb_e322/TB_U2/U1/reset
addSignal -h 15 /tb_e322/TB_U2/U1/clock
addSignal -h 15 /tb_e322/TB_U2/U1/HD1[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD2[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD3[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD4[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD5[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD6[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD7[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD8[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD9[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD10[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD11[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD12[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD13[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD14[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD15[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD16[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD17[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD18[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD19[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD20[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD21[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD22[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD23[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD24[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD25[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD26[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD27[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD28[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD29[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD30[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD31[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/HD32[1:0]
addSignal -h 15 /tb_e322/TB_U2/U1/Rx[2:0]
addSignal -h 15 -UNSIGNED -UDEC /tb_e322/i
addSignal -h 15 /tb_e322/TB_U2/U1/le
addGroup "CONTROL"
addSignal -h 15 /tb_e322/TB_U2/U3/reset
addSignal -h 15 /tb_e322/TB_U2/U3/clock
addSignal -h 15 /tb_e322/TB_U2/U3/le
addSignal -h 15 /tb_e322/TB_U2/U3/ae
addSignal -h 15 /tb_e322/TB_U2/U3/we
addSignal -h 15 /tb_e322/TB_U2/U3/te
addSignal -h 15 /tb_e322/TB_U2/U3/oe
addSignal -h 15 -UNSIGNED /tb_e322/TB_U2/U3/write_ptr[3:0]
addSignal -h 15 /tb_e322/TB_U2/U3/Dx[1:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/min_state[2:0]
addSignal -h 15 /tb_e322/TB_U2/U3/tb_reg[2:0]
addSignal -h 15 /tb_e322/TB_U2/U3/A0[3:0]
addSignal -h 15 /tb_e322/TB_U2/U3/A1[3:0]
addSignal -h 15 /tb_e322/TB_U2/U3/A2[3:0]
addSignal -h 15 /tb_e322/TB_U2/U3/A3[3:0]
addSignal -h 15 /tb_e322/TB_U2/U3/A4[3:0]
addSignal -h 15 /tb_e322/TB_U2/U3/A5[3:0]
addSignal -h 15 /tb_e322/TB_U2/U3/A6[3:0]
addSignal -h 15 /tb_e322/TB_U2/U3/A7[3:0]
addSignal -h 15 /tb_e322/TB_U2/U3/NEXT_STATE[6:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P0_in[1:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P1_in[1:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P2_in[1:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P3_in[1:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P4_in[1:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P5_in[1:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P6_in[1:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P7_in[1:0]
addSignal -h 15 /tb_e322/TB_U2/U3/trace_ptr[3:0]
addSignal -h 15 /tb_e322/TB_U2/U3/symbol_count[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P0_1[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P0_0[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P1_1[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P1_0[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P2_1[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P2_0[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P3_1[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P3_0[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P4_1[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P4_0[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P5_1[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P5_0[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P6_1[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P6_0[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P7_1[8:0]
addSignal -h 15 -UNSIGNED -BIN /tb_e322/TB_U2/U3/P7_0[8:0]
addGroup "ACS0"
addGroup "ACS1"
addGroup "ACS2"
addGroup "ACS3"
addGroup "ACS4"
addGroup "ACS5"
addGroup "ACS6"
addGroup "ACS7"
addGroup "G11"
addGroup "G12"
addGroup "G13"

; grid status
; gridSignal signal_name
; gridEdge 0 | 1

